
.container {
display:flex;
flex-direction:row;
gap: 10em;
justify-content:center;
}
  .button2 {
    background-color: #e7533f;
    padding: 15px 32px; margin: 4px 2px;  
    text-align: center;
    text-decoration: none;
    border-radius:20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
@media screen and (max-width: 996px) {
    .container {
        display:flex;
        margin:20px;
        flex-direction:column;
        justify-content:center;
    }
    .imagesection {
     width:40%;
     justify-content:"center";
    }
  }