/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Rubik:wght@300&display=swap'); */

.slider {
  align-items: center;
  text-align:center;
  padding: 5rem 0;
  width: 100%;
  color:rgb(74, 73, 162);
}
